<h1>Welcome to <%= @list.name %> </h1>
<p>
<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
</p>

<%= link_to "Add a movie(bookmark)", new_list_bookmark_path(@list)  %>

<% @list.bookmarks.each do |i|  %>
<p><%= i.movie.title %> <%= link_to "Delete",
            bookmark_path(i),
            method: :delete,
            data: { confirm: "Are you sure?" } %></p>
<% end  %>







<p>
<%= link_to "Back to index list", lists_path %>
</p>